/*  Main  */
.main {
  width: 100%;
  height: 100%;
  padding-left: 300px;
  box-sizing: border-box;
  position: relative;
  z-index: 55;
  background: #f6f6f6;
  clear: both;
  min-height: 100vh;
  transition: padding-left 0.3s ease-in-out;
}

/* 当侧边栏隐藏时调整主内容区域 */
header:not(.show_menu) ~ .main {
  padding-left: 50px;
}
