/**
 * 字体定义
 * 思源黑体 Noto Sans SC - 免费商用，支持中日韩及Emoji
 */

@font-face {
  font-family: 'noto-sans-sc';
  src: url('../fonts/NotoSansSC-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'noto-sans-sc';
  src: url('../fonts/NotoSansSC-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
